#Share
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/api

#DEVELOPMENT
BACKEND_DEV_PORT=8080

DB_EXPOSE_PORT=3306
DB_ROOT_PASSWORD=your_root_password
DATABASE=your_database_name
DB_USER=your_db_username
DB_USER_PASSWORD=your_user_password

#Production
NITRO_HOST=0.0.0.0
NITRO_PORT=80